loader/

*~
*.css.map
*.egg-info
.eggs/
.installed.cfg
.python-version
*.js.map
*.log
*.lock
*.pyc
*.pyo
*.sw[mnpcod]
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.env
.idea/
.project/
.pydevproject/
.sass-cache/
.settings/
.venv/
.versions/
.vscode/
__pycache__/
node_modules/
$RECYCLE.BIN/
tsconfig.tsbuildinfo

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

docs/_build/
env/
coverage/
.coverage
.coverage/
dist/
finder/static/admin/
workdir/

package-lock.json
